<form action="/items" method="post" >
  <input name="name" type="text">
  <input name="age"type="number">
  <button>ni</button>
</form>

<p>update an item</p>
<form action="/items/637206d3e6df94131a546acd?_method=put" method="post" >
  <input name="name" type="text">
  <input name="age"type="number">
  <button>ni</button>
</form>


<form action="items/6372119d8f53d6de22512fa1?_method=delete" method="post">
  <button>delete</button>
</form>